---
BasedOnStyle: LLVM
AllowShortBlocksOnASingleLine: Always
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: 'true'
BreakBeforeBraces: WebKit
ColumnLimit: 80
DerivePointerAlignment: false
PointerAlignment: Left
...
