---
Checks: '*,
-altera-*,
-cppcoreguidelines-pro-bounds-pointer-arithmetic,
-clang-analyzer-deadcode.DeadStores,
-clang-analyzer-alpha.*,
-readability-static-accessed-through-instance,
-readability-braces-around-statements,
-readability-implicit-bool-cast,
-readability-else-after-return,
-readability-named-parameter,
-readability-identifier-length,
-llvm-include-order,
-llvm-header-guard,
-llvmlibc-*,
-cppcoreguidelines-pro-type-union-access,
-*-avoid-c-arrays,
-fuchsia-*,
-*-uppercase-literal-suffix,
-*-magic-numbers,
-misc-use-anonymous-namespace,
-*-include-cleaner,
-google-explicit-constructor,
-google-runtime-references,
-google-build-using-namespace,
-*-math-missing-parentheses,
-*-avoid-do-while,
-*-prefer-static-over-anonymous-namespace,
-*-std-namespace-modification,
-*-pro-type-reinterpret-cast,
'
WarningsAsErrors: '*'
HeaderFilterRegex: 'catch.hpp'
FormatStyle: 'file'
CheckOptions:
  readability-function-size.LineThreshold: 200
  readability-function-size.ParameterThreshold: 16
  readability-function-size.StatementThreshold: 400
  misc-non-private-member-variables-in-classes.IgnorePublicMemberVariables: 1
  cppcoreguidelines-avoid-magic-numbers.IgnoredIntegerValues: '1;2;3;4;8;'
  cppcoreguidelines-special-member-functions.AllowSoleDefaultDtor: true
  cppcoreguidelines-special-member-functions.AllowMissingMoveFunctions: true
  cppcoreguidelines-special-member-functions.AllowMissingMoveFunctionsWhenCopyIsDeleted: true
  hicpp-signed-bitwise.IgnorePositiveIntegerLiterals: true
  modernize-use-trailing-return-type.TransformLambdas: none
...
